* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height:1.7;
}
a {
  color:#333;
  text-decoration:none;
}
h1, h2, h3 {
  margin:5px 0;
}
.container {
  margin:auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
#navbar {
  background:green;
  color:white;
  overflow: auto;
}
#navbar a {
  color:white;
}
#navbar h1 {
  float:left;
}
#navbar ul {
  list-style: none;
  float:right;
}
#navbar ul li {
  float:left;
}
#navbar ul li a {
  display:block;
  padding:20px;
  text-align:center;
}
#navbar ul li a:hover{
  background:darkgreen;
  color:rgb(255, 215, 136);
}